*.txt filter=lfs diff=lfs merge=lfs -text
.coxph filter=lfs diff=lfs merge=lfs -text
.snps_removed filter=lfs diff=lfs merge=lfs -text
.gwastools filter=lfs diff=lfs merge=lfs -text
.genipe.cox.dosage filter=lfs diff=lfs merge=lfs -text
.rds filter=lfs diff=lfs merge=lfs -text
